/*CSS Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b3e0ff;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
}

.navbar {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2rem;
  padding: 10px;
  margin-bottom: 500px;
  background-color: #6699ff;
}

#main-profile {
  border: 5px solid blue;
  border-radius: 50%;
  padding: 5px;
  width: 350px;
}

#profile {
  border-radius: 8px;
}

.name {
  font-size: 60px;
}

button img {
    max-height: 400px;
    max-width: 300px;
  }

.card {
  transition: all 0.5s ease ;
}

.card img {
  height: 350px;
  width: 360px;
  margin: auto;
}

.card-text {
  text-transform: uppercase;
  font-size: 200%;
}

.card:hover{
  transform: scale(1.1);
  box-shadow: 1px 2px 10px black;
}

.contact-me {
  max-width: 800px;
  margin: 50px auto;
  position: relative;
  box-shadow: 0 10px 30px 0px rgba(0,0,0,0.1);
  background-color: #e6eeff;
  padding: 30px;
}

.get_in_touch .title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 3em;
  line-height: 48px;
  padding-bottom: 20px;
  color: #5543ca;
}

.footer {
  padding: 10px 0;
  background-color: #6699ff;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a {
  color:  inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li {
  display: inline-block;
  padding: 15px;
}